#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: white;
  margin-top: 0.5%;
  padding: 30px;
  text-align: center;
  background: transparent;
  color: white;
  font-size: 10px;
}

.header h1{
  margin-top: 8%;
  margin-right: 1%;
}

.quote-box{
    margin-top: 10%;
    margin-bottom: 20%;
    border-radius: 2rem;
    position: relative;
    width: 450px;
    padding: 50px 60px;
    display: table;
    background-color: #eee5e5;
    color: #2C3E50;
    font-size: 1.2rem;
}

.footer{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 90px;
  text-decoration: none;
}
.footer a{
  text-decoration: none;
  color: inherit;
}
.footer a:hover {
  color: #8389ea;
}

.quote-box input{
  background-color: transparent;
  color: black;
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

/* Styles for smaller mobile devices */
@media (max-device-width: 460px) {
  .header {
    flex-direction: column;
    padding: 10px;
  }
  .quote-box {
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    position: relative;
    width: 50%;
    padding: 30px 60px;
    font-size: 1.2rem;
  }
}

/* Styles for smaller mobile devices */
@media (max-device-width: 1060px) {
  .header {
    flex-direction: row;
    padding:50px;
  }
  .quote-box {
    margin-top: 20%;
    margin-bottom: 20%;
    border-radius: 2rem;
    position: relative;
    width: 500px;
    padding: 50px 60px;
    display: table;
    background-color: #eee5e5;
    color: #2C3E50;
    font-size: 1.5rem;
  }
}